@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

.img-logo {
    width: 90px;
}

nav {
    font-size: larger;
    letter-spacing: 3px;
}

.nav-link {
    margin: 5px;
    color: rgb(255, 255, 255);
}

.radius {
    border-radius: 30px;
}
span.about p::first-line{
    font-size: 25px;
    color: rgb(95, 95, 95);
}

span.about p::first-letter{
    font-size: 30px;
    font-weight: bold;
}